body {
    font: 20px "Gill Sans", Verdana, sans-serif;
    line-height: 1.8;
    color: #1f1063a8;
    background-color: #b1c4b1;
    padding-top: 0px !important;
  }

.textcontainer {
  padding: 2% 10%;;
}

p {font-size: 16px;}
.margin {margin-bottom: 30px;}

a {
  color: #982a2a;
}

.container-fluid {
  padding: 0px;
  /*padding-bottom: 70px;*/
}

nav {
  background-color: #862727;
  color: #762b36;
  padding: 50px 0px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

.nav-title{
  margin-left: 15px;
  margin-right: 15px;
  color: #b1c4b1;
}

.nav-link {
  border: 3px outset #703e3e;
  border-radius: 20px;
  padding: 10px 30px;
  background-color: hsl(0, 49%, 19%);
  color: #ba6370;
  transition: 0.3s;
}

.nav-link:hover {
  border: 3px outset #575d1d;
  border-radius: 20px;
  padding: 10px 30px;
  background-color: #448c22;
  transition: 0.3s;
}

#btn {
  border: 7px outset #a67171;
  border-radius: 40px;
  padding: 10px 30px;
  background-color: #738e2e;
  color: #000000;
  transition: 0.3s;
}

#btn:hover {
  border: 3px inset #772121;
  border-radius: 40px;
  padding: 10px 30px;
  background-color: #af3636;
  transition: 0.3s;
}

.row {
  margin: auto auto;
}

.flexrow {
  display: flex;
  justify-content: space-evenly;
}


.center-row {
  display: flex;
  justify-content: center;
}

code {
  background-color: #2d2b33;
  color: #EEE7E8;
  font-family: 'Courier New', Courier, monospace;
}

.caption {
  color: gray;
  font-size: 16px;
  text-align: center;
  font-style: italic;
}

.spacer {
  height: 60px;
}


#aboutme {
  padding: 20px;
}