# Pump 0
[output_pin pump0_a]
pin: PC14
value: 0
shutdown_value: 0

[output_pin pump0_b]
pin: PC15
value: 0
shutdown_value: 0

# Pump 1
[output_pin pump1_a]
pin: PD6
value: 0
shutdown_value: 0

[output_pin pump1_b]
pin: PB8
value: 0
shutdown_value: 0

# Pump 2
[output_pin pump2_a]
pin: PA15
value: 0
shutdown_value: 0

[output_pin pump2_b]
pin: PA10
value: 0
shutdown_value: 0

# Pump 3
[output_pin pump3_a]
pin: PA9
value: 0
shutdown_value: 0

[output_pin pump3_b]
pin: PB5
value: 0
shutdown_value: 0

# Stick
[servo z_servo]
pin: PA1
maximum_servo_angle: 180
minimum_pulse_width: 0.001    # 1.0 ms = 0°
maximum_pulse_width: 0.002    # 2.0 ms = 180°
initial_angle: 0


[gcode_macro PUMP_FORWARD]
description: Run selected pump forward. Usage: PUMP_FORWARD PUMP=0
gcode:
    {% set pump = params.PUMP|default(0)|int %}
    {% if pump < 0 or pump > 3 %}
        {action_raise_error("PUMP must be 0, 1, 2, or 3")}
    {% endif %}
    SET_PIN PIN=pump{pump}_b VALUE=0
    SET_PIN PIN=pump{pump}_a VALUE=1


[gcode_macro PUMP_REVERSE]
description: Run selected pump reverse. Usage: PUMP_REVERSE PUMP=0
gcode:
    {% set pump = params.PUMP|default(0)|int %}
    {% if pump < 0 or pump > 3 %}
        {action_raise_error("PUMP must be 0, 1, 2, or 3")}
    {% endif %}
    SET_PIN PIN=pump{pump}_a VALUE=0
    SET_PIN PIN=pump{pump}_b VALUE=1


[gcode_macro PUMP_STOP]
description: Stop selected pump. Usage: PUMP_STOP PUMP=0
gcode:
    {% set pump = params.PUMP|default(0)|int %}
    {% if pump < 0 or pump > 3 %}
        {action_raise_error("PUMP must be 0, 1, 2, or 3")}
    {% endif %}
    SET_PIN PIN=pump{pump}_a VALUE=0
    SET_PIN PIN=pump{pump}_b VALUE=0


[gcode_macro DOSE]
description: Run selected pump for N seconds. Usage: DOSE PUMP=0 SECONDS=4.5 [DIR=FWD|REV]
gcode:
    {% set pump = params.PUMP|default(0)|int %}
    {% set sec = params.SECONDS|float %}
    {% set direction = params.DIR|default("FWD")|upper %}

    {% if pump < 0 or pump > 3 %}
        {action_raise_error("PUMP must be 0, 1, 2, or 3")}
    {% endif %}

    {% if direction == "REV" %}
        PUMP_REVERSE PUMP={pump}
    {% else %}
        PUMP_FORWARD PUMP={pump}
    {% endif %}

    G4 P{(sec * 1000)|int}
    PUMP_STOP PUMP={pump}

[gcode_macro STICK_UP]
gcode:
    SET_SERVO SERVO=z_servo ANGLE=0

[gcode_macro STICK_DOWN]
gcode:
    SET_SERVO SERVO=z_servo ANGLE=120